aiodns==3.2.0
aiosqlite==0.17.0
appdirs==1.4.4
asyncio==3.4.3
asyncpraw==7.8.0
asyncprawcore==2.4.0
atomicwrites==1.4.0
ccxt==4.4.32
chart-studio==1.1.0
feedfinder2==0.0.4
feedparser==6.0.11
fonttools==4.25.0
fpdf==1.7.2
html5lib==1.1
inflection==0.5.1
jieba3k==0.35.1
multitasking==0.0.11
munkres==1.1.4
newspaper3k==0.2.8
oauthlib==3.2.2
openpyxl==3.0.10
patsy==0.5.3
pandas==2.2.3
numpy==2.1.0
plotly==5.24.1
peewee==3.17.8
ply==3.11
praw==7.8.1
prawcore==2.4.0
protobuf==3.20.3
pyasn1-modules==0.2.8
PyDispatcher==2.0.5
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
python-lsp-jsonrpc==1.0.0
wordcloud==1.9.3
nltk==3.8.1
vaderSentiment==3.3.2




















